*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body::-webkit-scrollbar {
  display: none;
}
button{
    cursor: pointer;
}
.container{
   min-height: 100vh;
    background:url("images/background.jpg") no-repeat;
    background-size:cover;
}
header{
    width:100%;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    
}
.nav{
    margin-top: 20px;
    padding:20px;
    width: 80%;
    display:flex;
    justify-content: space-between;
    min-height: 100px;
    height: auto;
    border: 2px solid white;
    border-radius:50px;
    flex-wrap: wrap;
}
.innernav{
    display:flex;
    flex-wrap: wrap;
    gap:1rem;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius:50%;
}
.cart-btn{
    border:none;
}
.cart-btn img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.cart-btn:hover img{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list ul{
    display:flex;
    flex-wrap: wrap;
}
.list ul li{
    list-style: none;
    margin: 0px 1rem;
}
.list ul li a{
    text-decoration: none;
    color: orange;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-btn{
         margin-right: 20px;
        padding: 10px;
        width:80px;
        color: white;
        background-color: transparent;
        cursor: pointer;
        border:none;
        font-size: 18px;
        text-transform: uppercase;
        transition: transform 0.3s ease;
}
.login-btn:hover{
     transform: scale(1.2);
}
main{
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
}
.landing{
    width:80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}
.text h1{
    font-size: 7rem;
    margin-top:10vh;
}
.text h1 span{
    color: #222831;
    text-decoration:line-through;
}
.text span{
    color:orange;
}
.text h2{
    font-size: 4rem;
    margin-top:10px;
}
.text p{
    margin-top:20px;
}
.innertext{
    display:flex;
    align-items: center;

}

.innertext p{
    font-size: 18px;
    display: flex;
    margin-right:20px;
    align-items: center;
}
.innertext p img{
    width: 30px;
    height: 30px;
    margin-right:15px;

}
.img{
    display:flex;
    align-items: center;
    font-size: 18px;
}
.img img{
    width: 30px;
    height: 30px;
    margin-right:15px;
}
.text button{
    margin-top:20px;
    height:60px;
    width:200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right:30px;
}

/*.images{
    display: flex;
    justify-content: center;
}
.images img{
    width:200px;
    background:transparent;
}
    */
.trending{
    min-height: 100vh;
    width: 100%;
    background-color: #1C1B1D;
    padding:20px;
}
.scroll-wrapper{
    position: relative;
    width:100%;
    display: flex;
    justify-content: center;
    height: 80%;
    padding:20px;
   
}
.items{
    overflow-x: auto;
    aspect-ratio: 16/9;
    width:80%;
    height: auto;
    max-height: 700px;
    display: flex;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
   border-radius:60px;
    scrollbar-width: none;  /* Firefox */
}
.items > div{
    padding:50px;
    flex: 0 0 100%;
    scroll-snap-align: start;
  width:100%;
  min-height: 400px;
  height: auto;
  background-color: black;
  border-radius:60px;
}

.slider-nav{
    display: flex;
    column-gap: 20px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color: pink;
    opacity:0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity:1;
    background-color: white;
    transform: scale(1.2);
}
.slider-nav a.active{
     opacity:1;
    background-color: white;
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.trending h2{
    color:white;
    font-size: 50px;
    margin-bottom: 20px;
    margin-left:40px;
}
.trending p{
    color: #e0e0e0;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left:40px;
}
.trending p span{
    color: #ff9800;
    font-weight: bold;
    text-decoration: underline;
}
.items:hover{
    box-shadow: 5px 7px 30px grey;
}
.items > div {
    opacity: 0.8;
    position: relative;
}
.items > div p{
    padding: 10px;
    display: inline-block;
    text-transform: capitalize;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left:0px;
}
.items > div .innerdiv{
   margin-top: auto;
    position: absolute;
    bottom: 40px;
}
.items > div h6{
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 5px 20px;
    
    
}
.items > div button{
    width:150px;
    font-weight:bold;
    height: 40px;
    font-size: 17px;
    text-transform:capitalize;
    bottom:10px;
    position: absolute;
    left:3rem;
}
.grid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #1C1B1D;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}

.grid h3{
    display:block;
    color:white;
    text-align: center;
    margin: 20px 0;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.grid-container{
     width: 80%;
    height: content;
    display:grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
}
.grid-item{
    text-align: center;
    background-color: #232323;
    width:100%;
    height:auto;
    border-radius:20px;
    text-transform: capitalize;
    padding-bottom: 20px;
}
.grid-item img{
    border-radius:20px;
    margin:20px 0px;
    width:250px;
    height:250px;
}
.grid-item .title{
    font-size: 25px;
    color: white;
    
}
.grid-item p{
    color: #e0e0e0;
    font-size: 18px;
    margin:10px 0px;
    text-align: left;
    margin-left:30px;
}
.grid-item button{
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    width:200px;
    height:50px;
    font-size: 17px;
    font-weight: bold;
    text-transform:capitalize;
    cursor: pointer;
}
.grid-item button:hover{
    background-color: white;
    color: black;
    font-size: 20px;
    transform: scale(1.1);
    transition: font-size 0.3s ease;
    transition: transform 0.3s ease;
}
.grid-item:hover{
    box-shadow: 5px 7px 30px grey;
}
footer{
    width:100%;
    height:260px;
    background-color: #1C1B1D;
    color: orange;
    padding: 20px;
    padding-left: 220px;
}
footer h5{
    font-size: 25px;
    margin-bottom: 20px;
}
footer button{
    margin-top: 20px;
    height:50px;
    width:200px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right:30px;
}
@media (max-width: 1024px) {
    .landing {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
      .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        width: 95%;
    }
 .text h1 {
    font-size: 2.5rem;
    margin-top: 80px;
}
.text h2 {
    font-size: 1.5rem;
}

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .login {
        margin-top: 10px;
    }
    footer {
        padding-left: 20px;
        
    }
}

@media (max-width: 768px) {
    .text button {
        width: 100%;
        margin-right: 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
    }

    .items {
        width: 100%;
    }
     footer {
        padding-left: 20px;
        
    }
}